body {
  margin-top: 1%;
  margin-left: 1%;
  font-weight: bold;
  background-color: #eed3af;
}
h1 {
  text-align: center;
  font-size: 50px;
  color: white;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
.header {
  background-image: url("../images/rushmore.jpeg");
  height:400px;
  width: auto;
}
#stat-box {
  margin-left: auto;
  margin-right: auto;
}
#game-board {

}
#start-button {

}
